.navbar {
  background: #92acd1;
  color: white;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 80vw;
  margin-left: -50px;


}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  font-size:30px;
}

.navbar li {
  cursor: pointer;
  transition: color 0.2s;
}

.navbar li:hover {
  color: #3b82f6;
}
